/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  padding: 2.5rem;
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.75rem;
}

.card__image {
  margin-bottom: 1.5rem;
  max-width: 88px;
  border-radius: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1.5625rem;
  margin-bottom: 2px;
  font-weight: 600;
}

.card__address {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: hsl(75, 94%, 57%);
}

.card__description {
  margin-bottom: 1.5rem;
}

.card__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 1rem;
}

.button {
  padding: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: background-color 0.8s ease, color 0.8s ease;
}
.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  font-weight: 600;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}