@use "../utils/variables" as variable;
@use "../utils/functions" as function;

.card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: function.to_rem(384px);
 //  width: 100%;
 padding: function.to_rem(40px);
 background-color: variable.$grey-800;
 border-radius: function.to_rem(12px);
}

.card__image {
 margin-bottom: function.to_rem(24px);
 max-width: 88px;
 border-radius: 100%;
 object-fit: cover;
}

.card__title {
 font-size: function.to_rem(25px);
 margin-bottom: 2px;
 font-weight: 600;
}

.card__address {
 margin-bottom: function.to_rem(24px);
 font-weight: 700;
 color: variable.$green;
}

.card__description {
 margin-bottom: function.to_rem(24px);
}

.card__links {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 row-gap: function.to_rem(16px);
}
