@use "../util/colors" as colors;

.card {
 background-color: map-get(map-get(colors.$palette, grey), 800);
 padding: 40px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 24px;
 border-radius: 12px;
 width: 384px;
 margin: 10px;

 &__top {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 img {
  border-radius: 100%;
  width: 88px;
  object-fit: cover;
 }

 &__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
 }

 &__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.6px;
 }

 &__description {
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  color: map-get($map: colors.$palette, $key: green);
 }

 &__bio {
  line-height: 1.5;
  font-weight: 400;
 }
 &__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  width: 100%;
  gap: 16px;
 }
}
