@use "typography" as typo;
@use "../util/colors" as colors;
body {
 //  background-color: map-get(map-get(colors.$colors, grey), 700);
 background-color: map-get(map-get(colors.$palette, grey), 900);
 font-family: typo.$font-primary;
 color: map-get(colors.$palette, white);
 display: flex;
 justify-content: center;
 align-items: center;
}

main {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
