@use "../utils/variables" as variable;
@use "../utils/functions" as function;

body {
 background-color: variable.$grey-900;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
 font-size: function.to_rem(14px);
 font-weight: 400;
 line-height: 1.5;
 color: variable.$white;
 max-width: 1440px;
 margin: 0 auto;
}
