@font-face {
 font-family: "inter";
 src: url(../../assets/fonts/Inter-VariableFont_slnt_wght.ttf)
  format("truetype");
 font-weight: 100 900;
 font-style: normal;
}

$font-primary: "inter", sans-serif;
